.grid-container {
  display: grid;
  max-width: 1080px;
  width: 100%;
  grid-template-columns: repeat(2, 1fr); /* Create 2 equal columns */
  gap: 10px; /* Adjust the gap between items */
}
.grid-item {
  width: 100%;
  border: 2.5px solid violate;
  padding: 10px;
  aligh-items: left;
}
.grid-itemX {
  width: 100%;
  border: 2.5px solid violate;
  padding: 10px;
  aligh-items: right;
}

*{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -o-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing:border-box;
}
#footer{
  background: white;
    padding: 3rem;
  /* padding-top: 5rem; */
  padding-top: 7rem;
  padding-bottom: 80px;
  color: black;
}
#footer2{
  background: white;
    padding: 3rem;
    margin-top: 0px;
  /* padding-top: 5rem; */
  padding-top: 7rem;
    padding-bottom: 80px;
  background-image: url(../images/cards/v748-toon-111.png);
}
.logo-footer{
  /* max-width: 300px; */
}
.social-links{
  /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */

}
.social-links h2{
  padding-bottom: 15px;
  font-size: 20px;
    font-weight: 600;
}
.social-links img{
  padding-bottom: 25px;
}
.social-icons{
  /* display: flex;
    gap: 3rem; */
  display: flex;
    flex-direction: column;
    gap: 1rem;
  color: #777777;
}
.social-icons a{
  /* font-size: 18px; */
    /* background: #ffffff; */
    /* box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
    padding: 0.4rem 1rem 0.4rem 1rem;
    border-radius: 3px;
  color: #82074a; */
  /* margin-right: 18px; */
  color: #777777;
}
.social-icons a:hover{
  color: #000;
}
.social-icons a i{
  box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
    padding: 0.4rem 1rem 0.4rem 1rem;
    border-radius: 3px;
    color: #82074a;
  font-size: 16px;
  margin-right: 12px;
}
li{
  list-style: none;
}
.useful-link h2{
  padding-bottom: 15px;
  font-size: 20px;
    font-weight: 600;
}
.useful-link img{
  padding-bottom: 15px;
}
.use-links{
  line-height: 32px;
}
.use-links li i{
  font-size: 14px;
    padding-right: 8px;
    color: #898989;
}
.use-links li a{
  color: #303030;
    font-size: 15px;
    font-weight: 500;
  color: #777777;
}
.use-links li a:hover{
  color: #000;
}
.address h2{
  padding-bottom: 15px;
  font-size: 20px;
    font-weight: 600;
}
.address img{
  padding-bottom: 15px;
}
.address-links li a{
  color: #303030;
    font-size: 15px;
    font-weight: 500;
  color: #777777;

}
.address-links li i{
  font-size: 16px;
    padding-right: 8px;
  color: #82074a;

}
.address-links li i:nth-child(1){
  padding-top: 9px;
}
.address-links .address1{
  font-weight: 500;
    font-size: 15px;
  display: flex;
}
.address-links{
      line-height: 32px;
    color: #777777;
}
.copy-right-sec{
  padding: 1.8rem;
    background: #82074a;
    color: #fff;
    text-align: center;
}
.copy-right-sec a{
  color: #fcd462;
    font-weight: 500;
}
a{
  text-decoration:none;
}

{
    "workbench.colorTheme": "Default High Contrast",
    "workbench.editor.enablePreview": false,
    "security.workspace.trust.untrustedFiles": "open",
    "vscode-edge-devtools.webhint": false
}
.fm-container {
    background-color: cyan;
    max-width: 1080px;
    width: 95%;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid yellow;
    border-radius: 25px;
    align-content: center;
    align-items: center;
}

label, input, textarea {
    display: block;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
}

button {
    background-color: blueviolet;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 100%;
}

button:hover {
    background-color: #0056b3;
}
