body {
    background-color: black;
    background-repeat: repeat;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
}

h1, h2, h3 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: cyan;
h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    color: white;
}
    
.nude-button {
            padding: 10px 20px;
            background-color: purple;
            color: yellow;
            border: 1px solid yellow;
            border-radius: 25px;
            cursor: pointer;
            text-decoration: none;
        }
.nude-button:hover {
            background-color: grey;
        }
.my-button {
            padding: 10px 20px;
            background-color: blue;
            color: white;
            border: 1px solid white;
            border-radius: 50px;
            cursor: pointer;
            text-decoration: none;
        }
.my-button:hover {
            background-color: red;
        }
    
.gd-con {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr, 1fr));
  gap: 10px;
  padding: 20px;
}

.gd-txt {
  border: 1px solid violate;
  padding: 10px;
}

.gd-txt img {
  width: 100%;
  height: auto;
}


.container {
    background-color: Purple;
    max-width: 600px;
    width: 80%;
    height: auto;
    margin: 5px auto;
    padding: 20px;
    border: 1px solid cyan;
    border-radius: 5px;
    align-content: center;
    align-items: center;
}

label, input, textarea {
    display: block;
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
}

button {
    background-color: blueviolet;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 100%;
}

button:hover {
    background-color: violate;
}
